
{%- set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['etcd', 'python-etcd'],
        'services': ['etcd'],
        'proxy': False,
        'engine': 'systemd'
    },
    'RedHat': {
        'pkgs': [],
        'services': []
    },
}, merge=salt['pillar.get']('etcd:server')) %}
