{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['etcd', 'python-etcd'],
        'services': ['etcd'],
        'config': '/etc/files/default'
    },
    'RedHat': {
        'pkgs': [],
        'services': []
    },
}, merge=salt['pillar.get']('server')) %}
